@import "assets/museo/stylesheet.css";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

button,
input,
select,
textarea {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #000000;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  z-index: 2;
  top: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 37px 0 20px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation img {
  margin-bottom: 12px;
  max-width: 128px;
}
.navigation__login-button {
  border: 1px #ffffff solid;
  border-radius: 60px;
  background-color: transparent;
  padding: 15.5px 31px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.navigation__login-button:hover {
  background-color: #ffffff;
  color: #000000;
}

main {
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.promo-container {
  background-color: #171717;
  height: 100vh;
  min-height: 770px;
}
.promo-container__cat {
  position: absolute;
  z-index: 2;
  top: 41.6%;
  right: -237px;
}
.promo-container__cat img {
  width: 678px;
}

.description-container {
  padding: 130px 0;
  height: 100vh;
  min-height: 1468px;
  background-color: #ffffff;
}

.skills-container {
  background-color: #171717;
  height: 100vh;
  min-height: 900px;
}

.referral-container {
  padding: 128px 0 134.5px;
  background-color: #ffffff;
}

.background-referral {
  background-color: #171717;
}

.tour-container {
  background-color: #171717;
  height: 100vh;
  min-height: 700px;
}

section {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.promo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.promo__title {
  margin-top: 275px;
  width: fit-content;
  position: relative;
  color: #ffffff;
  font-size: 70px;
  line-height: 1.2;
  font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
  font-weight: 400;
}
.promo__title img {
  position: absolute;
  top: 87px;
}
.promo__title__vk {
  right: -40px;
}
.promo__title__yandex {
  right: -85px;
}
.promo__description {
  margin-top: 15px;
  margin-bottom: 64px;
  letter-spacing: -0.2px;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.promo__create-account-button {
  width: fit-content;
  background: #0278FF;
  padding: 15.5px 33.5px;
  border-radius: 60px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.promo__create-account-button:hover {
  background-color: #0063D4;
}

.how-it-works__title,
.kot-bonus__title,
.bonuses-origin__title {
  width: fit-content;
  color: #171717;
  font-size: 70px;
  line-height: 1.2;
  font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
  font-weight: 400;
}
.how-it-works__description,
.kot-bonus__description,
.bonuses-origin__description {
  margin-top: 16px;
  width: fit-content;
  color: #171717;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.how-it-works img,
.kot-bonus img,
.bonuses-origin img {
  display: block;
  margin-top: 31px;
}

.how-it-works img {
  max-width: 131px;
}

.kot-bonus {
  margin-top: 132px;
  margin-bottom: 96px;
}
.kot-bonus img {
  max-width: 131px;
}

.bonuses-origin img {
  margin-top: 21px;
  max-width: 601px;
}

.kotbot-description {
  transform: scale(1);
  margin-top: 309px;
}
.kotbot-description__title, .kotbot-description__description {
  color: #ffffff;
  font-size: 70px;
  font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
  font-weight: 400;
}
.kotbot-description__description {
  margin-top: 8px;
}

.referral-program {
  transform: scale(1);
}
.referral-program__title {
  color: #171717;
  font-size: 70px;
  line-height: 1;
  font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
  font-weight: 400;
}
.referral-program__description {
  margin-top: 16px;
  color: #171717;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.referral-program__programs {
  margin-top: 12px;
  display: flex;
  gap: 0 25px;
}
.referral-program__programs__replenishment, .referral-program__programs__percent {
  padding: 33px;
  background-color: #f5f5f5;
  border-radius: 32px;
}
.referral-program__programs__replenishment span, .referral-program__programs__percent span {
  margin-top: 10px;
  display: block;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 1.57;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.referral-program__programs__replenishment span b, .referral-program__programs__percent span b {
  font-family: "Museo Sans Cyrl 900", Arial, sans-serif;
  font-weight: 900;
}
.referral-program__programs__replenishment img {
  max-width: 240px;
}
.referral-program__programs__percent img {
  max-width: 164px;
}
.referral-program__partner-button {
  margin-top: 30px;
  padding: 15.5px 30px;
  background-color: #171717;
  border-radius: 60px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.1px;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.referral-program__partner-button:hover {
  background-color: #0278FF;
}

.personal-tour {
  transform: scale(1);
  margin-top: 128px;
}
.personal-tour__title {
  color: #ffffff;
  font-size: 70px;
  line-height: 1.2;
  font-family: "Museo Sans Cyrl 500", Arial, sans-serif;
  font-weight: 400;
}
.personal-tour__description {
  margin-top: 32px;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.personal-tour__application {
  margin-top: 48px;
  padding: 15.5px 32.5px;
  background-color: #0278FF;
  border-radius: 60px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.personal-tour__application:hover {
  background-color: #0063D4;
}

footer {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}
footer .promocode {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: calc((100% - 1200px) / 2);
}
footer .promocode span {
  display: inline-block;
  position: absolute;
  opacity: 1;
  top: -126px;
  left: -139px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
footer .promocode__stick {
  opacity: 0.3;
  top: -65px;
  left: -91px;
  position: absolute;
  max-width: 56px;
}
footer .promocode button {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}
footer .promocode button img {
  position: relative;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  max-width: 176px;
  user-select: none;
}
footer .promocode button img:active {
  background-color: transparent;
}

.footer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 37px 40px 20px;
}
.footer__copyright {
  display: flex;
  align-items: center;
  gap: 0 14px;
}
.footer__copyright span {
  display: inline-block;
  letter-spacing: -0.16px;
  opacity: 0.3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.footer__copyright img {
  max-width: 120px;
}
.footer__copyright br {
  display: none;
}
.footer__politica a {
  letter-spacing: -0.1px;
  margin-right: 6px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.55;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.footer__reference {
  margin-top: 18px;
  display: flex;
  gap: 0 13px;
}
.footer__reference a:first-child {
  display: inline-block;
  padding: 8.5px 16px;
  border: 1px #ffffff solid;
  border-radius: 99px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Museo Sans Cyrl 700", Arial, sans-serif;
  font-weight: 600;
}
.footer__reference a:last-child {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}
.footer__reference a:last-child img {
  max-width: 40px;
}

.hidden-header {
  position: fixed;
  z-index: 3;
  top: -90px;
  left: 0;
  right: 0;
  background-color: #171717;
  transition: top 1s;
}
.hidden-header__content {
  width: 100%;
  max-width: 1200px;
  padding: 18px 37px 18px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden-header__content img {
  margin-bottom: 12px;
  max-width: 128px;
}
.hidden-header__content button {
  border: 1px #ffffff solid;
  border-radius: 60px;
  background-color: transparent;
  padding: 15.5px 31px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Museo Sans Cyrl 300", Arial, sans-serif;
  font-weight: 300;
}
.hidden-header__content button:hover {
  background-color: #ffffff;
  color: #000000;
}

.progress {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}
.progress span {
  display: block;
  height: 100%;
  width: 0;
  background-color: #ffffff;
  transition: width 1s;
}

.hide {
  top: -101px !important;
  opacity: 0.3 !important;
}

@media (max-width: 1300px) {
  .promo-container__cat {
    top: 57%;
  }
  footer .promocode {
    margin-right: calc((100% - 1200px) / 2 + 37px);
  }
}
@media (max-width: 1200px) {
  header, section, .footer, .hidden-header__content {
    max-width: 960px;
  }
  footer .promocode {
    margin-right: calc((100% - 960px) / 2);
  }
  .footer__copyright {
    flex-direction: column;
    align-items: flex-start;
  }
  .promo-container__cat {
    top: 43%;
  }
  .promo-container__cat img {
    width: 563px;
  }
  .promo__title {
    margin-top: 195px;
  }
}
@media (max-width: 1024px) {
  .navigation img {
    margin-bottom: 0;
    max-width: 110px;
  }
  .navigation__login-button {
    padding: 12px 28px;
  }
  .promo-container,
  .skills-container,
  .referral-container,
  .tour-container {
    min-height: 510px;
  }
  .promo-container__cat {
    top: 28%;
  }
  .promo-container__cat img {
    width: 490px;
  }
  .promo__title {
    margin-top: 122px;
    font-size: 50px;
  }
  .promo__title img {
    top: 50px;
  }
  .promo__description {
    font-size: 18px;
  }
  .promo__create-account-button {
    font-size: 18px;
  }
  .description-container {
    height: unset;
    min-height: 100vh;
    padding: 90px 0;
  }
  .how-it-works__title,
  .kot-bonus__title,
  .bonuses-origin__title {
    font-size: 50px;
  }
  .how-it-works__description,
  .kot-bonus__description,
  .bonuses-origin__description {
    font-size: 18px;
  }
  .how-it-works img {
    max-width: 110px;
  }
  .kot-bonus {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .kot-bonus img {
    max-width: 113px;
  }
  .bonuses-origin img {
    max-width: 469px;
  }
  .kotbot-description {
    margin-top: 167px;
  }
  .kotbot-description__title, .kotbot-description__description {
    font-size: 50px;
  }
  .kotbot-description__description {
    margin-top: 8px;
  }
  .referral-container {
    padding: 151px 0;
  }
  .referral-program__title {
    font-size: 50px;
  }
  .referral-program__description {
    font-size: 18px;
  }
  .referral-program__programs__replenishment, .referral-program__programs__percent {
    padding: 18px;
  }
  .referral-program__programs__replenishment span, .referral-program__programs__percent span {
    font-size: 14px;
  }
  .referral-program__partner-button {
    font-size: 18px;
    padding: 14px 30px;
  }
  .personal-tour {
    margin-top: 148px;
  }
  .personal-tour__title {
    font-size: 50px;
  }
  .personal-tour__description {
    margin-top: 10px;
    font-size: 18px;
  }
  .personal-tour__application {
    margin-top: 24px;
    font-size: 18px;
  }
  footer .promocode span {
    font-size: 14px;
  }
  footer .promocode__stick {
    top: -72px;
    left: -70px;
    max-width: 56px;
  }
  footer .promocode button img {
    max-width: 140px;
  }
  .footer {
    padding: 0 37px 10px 20px;
  }
  .footer__copyright {
    flex-direction: row;
    align-items: center;
  }
  .footer__copyright span {
    font-size: 13px;
  }
  .footer__copyright img {
    max-width: 110px;
  }
  .footer__politica a {
    font-size: 13px;
  }
  .footer__reference {
    align-items: center;
  }
  .footer__reference a:first-child {
    padding: 6px 16px;
    font-size: 13px;
  }
  .footer__reference a:last-child {
    width: 34px;
    height: 34px;
  }
  .footer__reference a:last-child img {
    max-width: 34px;
  }
  .hidden-header__content img {
    max-width: 110px;
    margin-bottom: 0;
  }
  .hidden-header__content button {
    padding: 12px 28px;
  }
}
@media (max-width: 960px) {
  header, section, .footer, .hidden-header__content {
    max-width: 640px;
  }
  footer .promocode {
    margin-right: calc((100% - 640px) / 2 + 20px);
  }
  header {
    padding: 0 20px;
  }
  .promo-container__cat {
    top: 52%;
  }
  .promo {
    justify-content: center;
  }
  .promo__title {
    margin-top: 0;
    font-size: 50px;
  }
  .promo__title img {
    top: 50px;
  }
  .promo__description {
    font-size: 18px;
  }
  .promo__create-account-button {
    font-size: 18px;
  }
  .kotbot-description {
    margin-top: 250px;
  }
  .personal-tour {
    margin-top: 250px;
  }
  .footer {
    padding: 0 20px 10px 20px;
  }
  .footer__copyright {
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__copyright br {
    display: block;
  }
  .footer__politica {
    display: flex;
    flex-direction: column;
  }
  .footer__reference {
    margin-top: 10px;
  }
  footer .promocode span {
    left: -100px;
  }
  footer .promocode__stick {
    top: -40px;
    left: -55px;
    max-width: 36px;
  }
  footer .promocode button img {
    max-width: 100px;
  }
  .hide {
    top: -68px !important;
  }
  .hidden-header__content {
    padding: 18px 20px;
  }
}
@media (max-width: 640px) {
  header, section, .footer, .hidden-header__content {
    max-width: 480px;
  }
  .skills-container {
    min-height: 320px;
    height: 45vh;
  }
  .kotbot-description {
    margin-top: 80px;
  }
  footer .promocode {
    margin-right: calc((100% - 480px) / 2 + 20px);
  }
  .promo-container__cat {
    top: 74%;
    right: -34%;
  }
  .promo-container__cat img {
    width: 360px;
  }
  .promo__title {
    margin-top: 0;
  }
  .promo__title img {
    top: 77%;
  }
  .promo__title__vk {
    right: 42%;
  }
  .promo__title__yandex {
    right: 33%;
  }
  .bonuses-origin img {
    max-width: 100%;
  }
  .referral-program__programs {
    flex-direction: column;
    gap: 20px 0;
  }
  .referral-program__programs__replenishment, .referral-program__programs__percent {
    width: fit-content;
  }
  .personal-tour {
    margin-top: 85px;
  }
  footer .promocode span {
    left: -84px;
  }
}
@media (max-width: 480px) {
  header, section, .footer, .hidden-header__content {
    max-width: 400px;
  }
  footer .promocode {
    margin-right: calc((100% - 400px) / 2 + 20px);
  }
  .promo-container__cat img {
    width: 310px;
  }
  .promo__title {
    font-size: 35px;
  }
  .promo__title img {
    top: 6%;
  }
  .promo__title__vk {
    right: 12%;
  }
  .promo__title__yandex {
    right: 0;
  }
  .promo__description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .promo__create-account-button {
    font-size: 16px;
    padding: 15px 24px;
  }
  .how-it-works__title,
  .kot-bonus__title,
  .bonuses-origin__title {
    font-size: 35px;
  }
  .how-it-works__description,
  .kot-bonus__description,
  .bonuses-origin__description {
    font-size: 16px;
  }
  .how-it-works img,
  .kot-bonus img,
  .bonuses-origin img {
    margin-top: 10px;
  }
  .how-it-works img {
    max-width: 85px;
  }
  .kot-bonus {
    margin: 50px auto;
  }
  .kot-bonus img {
    max-width: 90px;
  }
  .kotbot-description__title, .kotbot-description__description {
    font-size: 35px;
  }
  .referral-program__title {
    font-size: 35px;
  }
  .referral-program__description {
    font-size: 16px;
  }
  .referral-program__partner-button {
    font-size: 16px;
  }
  .personal-tour__title {
    font-size: 35px;
  }
  .personal-tour__description {
    font-size: 18px;
  }
  .personal-tour__application {
    padding: 15px 26px;
    margin-top: 24px;
    font-size: 16px;
  }
  .footer {
    padding: 0 20px 120px 20px;
  }
  .footer__copyright {
    width: 100%;
  }
  .footer__copyright span {
    font-size: 10px;
  }
  .footer__copyright img {
    max-width: 97px;
  }
  footer .promocode span {
    left: -127px;
    top: -43px;
    font-size: 12px;
  }
  footer .promocode__stick {
    top: -5px;
  }
  .hide {
    top: -23px !important;
  }
}
@media (max-width: 400px) {
  header, section, .footer, .hidden-header__content {
    max-width: 320px;
  }
  header {
    padding: 0 10px;
  }
  .hidden-header__content {
    padding: 18px 10px;
  }
  .promo__title {
    font-size: 35px;
  }
  .promo__title img {
    top: 73%;
  }
  .promo__title__vk {
    right: 34%;
  }
  .promo__title__yandex {
    right: 20%;
  }
  .promo__description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .promo__create-account-button {
    font-size: 16px;
    padding: 15px 24px;
  }
  footer .promocode {
    margin-right: calc((100% - 320px) / 2 + 20px);
  }
  section {
    padding: 0 10px;
  }
  .personal-tour__title {
    font-size: 30px;
  }
  .personal-tour__description {
    font-size: 14px;
  }
  .personal-tour__application {
    padding: 13px 22px;
    margin-top: 16px;
    font-size: 14px;
  }
  .footer {
    padding: 0 20px 120px 20px;
  }
  .footer__copyright span {
    font-size: 9px;
  }
  .footer__copyright img {
    max-width: 90px;
  }
  .footer__politica a {
    font-size: 11px;
  }
  .footer__reference a:first-child {
    font-size: 11px;
  }
  .footer__reference a:last-child {
    width: 30px;
    height: 30px;
  }
  .footer__reference a:last-child img {
    max-width: 30px;
  }
  footer .promocode span {
    left: -116px;
    top: -39px;
    font-size: 12px;
  }
  footer .promocode__stick {
    top: -5px;
  }
  .hide {
    top: -22px !important;
  }
}

/*# sourceMappingURL=style.css.map */
